.Column1{
    height: 55vh;
    border: 2px solid rgba(171, 171, 171, 0.607);
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
}
.task{
    border: 2px solid rgba(171, 171, 171, 0.607);
    background-color: #ececec;
    border-radius: 5px;  
}
.task p{
    font-size: medium;
}
.task .buttons .doneButton{
    width: 150px;
    color: green;
    font-weight: 500;
    background-color: #c9c9c9;
    border: 2px solid rgba(171, 171, 171, 0.607);
}

.task .buttons .delete{
    color: red;
    background-color: #c9c9c9;
    border: 2px solid rgba(171, 171, 171, 0.607);
}
.task .buttons .edit{
    color: blue;
    background-color: #c9c9c9;
    border: 2px solid rgba(171, 171, 171, 0.607);
}

.Column2{
    height: 55vh;
    border: 2px solid rgba(171, 171, 171, 0.607);
    border-radius: 0px 10px 10px 0px;
    padding: 20px;
}

.complete{
    border: 2px solid rgba(171, 171, 171, 0.607);
    background-color: #ececec;
    border-radius: 5px;  
}
.complete p{
    font-size: medium;
}
.complete button{
    width: 180px;
    color: rgb(255, 49, 49);
    font-weight: 500;
    background-color: #c9c9c9;
    border: 2px solid rgba(171, 171, 171, 0.607);
}
.maker form input{
    width: 30vw;
    height: 50px;
    border: 2px solid rgba(171, 171, 171, 0.607);
    border-right: none;
    padding: 0px 10px;
    border-radius: 5px 0px 0px 5px;
}
.maker form button{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(171, 171, 171, 0.607);
    border-radius: 0px 5px 5px 0px;
}